<nav>
    <div class="nav-wrapper blue">
        <p style="margin-left: 10px;" class="brand-logo left">Place It!</p>
        <p style="margin-right: 10px;" id="nav-mobile" class="right hide-on-med-and-down">Press "P" to take a screenshot</p>
    </div>
</nav>


<div class="row" style="margin: auto; width: 50%;">
    <div style="width: 400px;" class="col s12">
        <div style="width: 100%;" id="rSlider"></div>
        <div style="width: 100%;" id="gSlider"></div>
        <div style="width: 100%;" id="bSlider"></div>
    </div>

    <div style="height: 100%; width: 100%; " class="col s12">
            <div  id="sketch-holder"></div>
    </div>
</div>




